# Eagle
#
eagle/*.s#?
eagle/*.b#?
eagle/*.l#?
eagle/*.b$?
eagle/*.s$?
eagle/*.l$?
eagle/*.s#*
eagle/*.b#*
eagle/*.lck
eagle/eagle.epf

# MikroC
#
fw/MikroC/**/*.workspace
fw/MikroC/**/*.log
fw/MikroC/**/*.bmk
fw/MikroC/**/*.brk
fw/MikroC/**/*.dbg
fw/MikroC/**/*.dct
fw/MikroC/**/*.dlt
fw/MikroC/**/*.hex
fw/MikroC/**/*.lst
fw/MikroC/**/*.dic
fw/MikroC/**/*_callertable.txt
fw/MikroC/**/*.user.dic
fw/MikroC/**/*.asm
fw/MikroC/**/*.c.ini
fw/MikroC/**/*.h.ini
fw/MikroC/**/*.cp
fw/MikroC/**/*.mcl

# MPLAB X
#   https://github.com/jharoian-mchp/MPLAB-X-gitignore/blob/main/X.gitignore
#
fw/MplabX/**/~*.*
fw/MplabX/**/build/
fw/MplabX/**/debug/
fw/MplabX/**/dist/
fw/MplabX/**/disassembly/
fw/MplabX/**/.generated_files/
fw/MplabX/**/nbproject/private/
fw/MplabX/**/nbproject/*.mk
fw/MplabX/**/nbproject/*.bash
fw/MplabX/**/nbproject/Makefile-genesis.properties
fw/MplabX/**/nbproject/queuelogs/
